In [10]:
import pandas as pd

In [16]:
stats=pd.read_csv(r"datasets/player_mvp_stats.csv")
del stats['Unnamed: 0']

In [17]:
stats

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,Pts Max,Share,Team,W,L,W/L%,GB,PS/G,PA/G,SRS
0,Doc Rivers,PG,29,ATL,79,79,32.7,5.6,12.9,0.435,...,0.0,0.000,Atlanta Hawks,43,39,0.524,18.0,109.8,109.0,0.72
1,Dominique Wilkins,SF,31,ATL,81,81,38.0,9.5,20.2,0.470,...,960.0,0.030,Atlanta Hawks,43,39,0.524,18.0,109.8,109.0,0.72
2,Duane Ferrell,SF,25,ATL,78,2,14.9,2.2,4.6,0.489,...,0.0,0.000,Atlanta Hawks,43,39,0.524,18.0,109.8,109.0,0.72
3,Gary Leonard,C,23,ATL,4,0,2.3,0.0,0.0,0.000,...,0.0,0.000,Atlanta Hawks,43,39,0.524,18.0,109.8,109.0,0.72
4,John Battle,SG,28,ATL,79,2,23.6,5.0,10.9,0.461,...,0.0,0.000,Atlanta Hawks,43,39,0.524,18.0,109.8,109.0,0.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14087,Raul Neto,PG,28,WAS,64,22,21.9,3.3,7.0,0.468,...,0.0,0.000,Washington Wizards,34,38,0.472,7.0,116.6,118.5,-1.85
14088,Robin Lopez,C,32,WAS,71,9,19.1,3.8,6.0,0.633,...,0.0,0.000,Washington Wizards,34,38,0.472,7.0,116.6,118.5,-1.85
14089,Rui Hachimura,PF,22,WAS,57,57,31.5,5.4,11.4,0.478,...,0.0,0.000,Washington Wizards,34,38,0.472,7.0,116.6,118.5,-1.85
14090,Russell Westbrook,PG,32,WAS,65,65,36.4,8.4,19.0,0.439,...,1010.0,0.005,Washington Wizards,34,38,0.472,7.0,116.6,118.5,-1.85
14091,Thomas Bryant,C,23,WAS,10,10,27.1,5.9,9.1,0.648,...,0.0,0.000,Washington Wizards,34,38,0.472,7.0,116.6,118.5,-1.85

In [20]:
pd.isnull(stats).sum()

Player     0
Pos        0
Age        0
Tm         0
G          0
GS         0
MP         0
FG         0
FGA        0
FG%        0
3P         0
3PA        0
3P%        0
2P         0
2PA        0
2P%        0
eFG%       0
FT         0
FTA        0
FT%        0
ORB        0
DRB        0
TRB        0
AST        0
STL        0
BLK        0
TOV        0
PF         0
PTS        0
Year       0
Pts Won    0
Pts Max    0
Share      0
Team       0
W          0
L          0
W/L%       0
GB         0
PS/G       0
PA/G       0
SRS        0
dtype: int64

In [41]:
mvps=pd.read_csv(r'datasets/mvps.csv')
mvps.columns
cols=['Player', 'Age', 'G', 'MP', 'PTS', 'TRB', 'AST', 'STL', 'BLK', 'FG%',
       '3P%', 'FT%', 'WS', 'WS/48', 'Year']
mvps=mvps[cols]
mvps2=mvps.groupby('Year').head(1)

In [43]:
mvps2.loc[mvps2['PTS']==mvps2['PTS'].min()]

,Player,Age,G,MP,PTS,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,Year
240,Steve Nash,30,75,34.3,15.5,3.3,11.5,1.0,0.1,0.502,0.431,0.887,10.9,0.203,2005

In [44]:
mvps2.describe()

,Age,G,MP,PTS,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,Year
count,31.000000,31.000000,31.000000,31.000000,31.000000,31.000000,31.000000,31.000000,31.000000,31.000000,31.000000,31.000000,31.000000,31.000000
mean,27.741935,76.741935,37.151613,27.158065,8.503226,6.041935,1.516129,1.106452,0.507290,0.309419,0.801484,15.845161,0.267000,2006.000000
std,3.076445,7.375490,2.617998,3.692946,3.327109,2.277539,0.548997,0.974999,0.040854,0.127445,0.084874,2.955203,0.039586,9.092121
min,22.000000,49.000000,30.400000,15.500000,3.300000,2.900000,0.500000,0.100000,0.420000,0.000000,0.524000,9.600000,0.190000,1991.000000
25%,25.000000,75.500000,35.400000,25.250000,5.900000,4.200000,1.150000,0.500000,0.491000,0.271500,0.766000,14.050000,0.240000,1998.500000
50%,27.000000,80.000000,37.600000,27.600000,7.900000,5.500000,1.600000,0.800000,0.504000,0.333000,0.799000,15.800000,0.274000,2006.000000
75%,29.000000,81.000000,38.850000,29.900000,11.350000,7.500000,1.800000,1.050000,0.530500,0.398500,0.858000,18.100000,0.296500,2013.500000
max,35.000000,82.000000,42.000000,32.000000,13.900000,11.500000,2.700000,3.700000,0.578000,0.454000,0.921000,20.400000,0.322000,2021.000000

In [ ]:
def rule_based():
    if 
    pass